body{
  background-color: #ffda27;
}
h2 {
  color: #944ba5;
  font-family: Comic Sans MS;
  font-size: 300%;
}
h3 {
  color: #944ba5;
  font-family: Comic Sans MS;
  font-size: 150%;
}
p {
  color: #41794b;
  font-family: Comic Sans MS;
  font-size: 100%;
}